PROJECT 1:
This dataset contains descriptive details of residential properties on the real estate market in Washington, DC, in 2018.  They were built from 1947 to the present time.  It lists the features in 49 columns.  There is some missing data. This is a high price area - mean price is $931351.59. They are either semi-detached or row houses. Condition varies from 'fair' to 'very good'. Each one has a range of 1-4 condominium units. There are no condominiums on the market in zip code 20009.

In [6]:
#Import dataset DC_Properties.csv

import pandas as pd
import numpy as np

location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)

C:\Users\Edel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head()
#df.head?

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [4]:
#load data without headers

location2 = "datasets/DC_Properties.csv"
df_nohead = pd.read_csv(location2, header=None) #try w/o header=None
df_nohead.head()

C:\Users\Edel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1,2,5,6,7,8,9,10,11,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,31,32,33,34,35,36,37,38,39,42,43,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,NaN,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
1,0.0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.04083204,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.04042907495098,38.914881109044266,NW
2,1.0,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.04076447,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.04042907495098,38.914881109044266,NW
3,2.0,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.04067788,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.04042907495098,38.914881109044266,NW
4,3.0,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.04062899,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.04042907495098,38.914881109044266,NW

In [10]:
#show the column names in the dataset
df.columns
#or print(df.columns)

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [11]:
#show the data type of each column
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [12]:
#number of non-NA values
#len(df) would count rows including NA values
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [14]:
df['PRICE'].max()

137427545.0

In [15]:
df['PRICE'].min()

1.0

In [16]:
df['PRICE'].mean()

931351.5949336156

In [17]:
#descriptive statistics
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [18]:
#doesn't do anything on its own
df.groupby('ZIPCODE')

In [20]:
#add a stats or math function to it
df['PRICE'].groupby(df['ZIPCODE']).mean()

#mean of multiple columns
#df[['PRICE', 'ZIPCODE']].groupby(df['SALEDATE']).mean()

ZIPCODE
20001.0    5.215550e+05
20002.0    4.628894e+05
20003.0    5.992484e+05
20004.0    4.755701e+05
20005.0    2.813137e+06
20006.0    1.959069e+05
20007.0    9.794061e+05
20008.0    8.522766e+05
20009.0    6.215259e+05
20010.0    5.070154e+05
20011.0    4.259763e+05
20012.0    4.755227e+05
20015.0    7.703746e+05
20016.0    5.914537e+06
20017.0    4.087405e+05
20018.0    3.691101e+05
20019.0    2.302621e+05
20020.0    2.281464e+05
20024.0    3.808846e+05
20032.0    3.235769e+05
20036.0    4.015452e+05
20037.0    6.124601e+05
20052.0    5.378571e+05
20392.0    3.489169e+05
Name: PRICE, dtype: float64

In [21]:
#mean of multiple columns
df[['PRICE', 'ZIPCODE']].groupby(df['SALEDATE']).mean()

                            PRICE       ZIPCODE
SALEDATE
1947-05-14 00:00:00           NaN  20019.000000
1949-11-17 00:00:00           NaN  20002.000000
1950-08-22 00:00:00           NaN  20002.000000
1955-08-17 00:00:00           NaN  20008.000000
1955-10-13 00:00:00           NaN  20011.000000
1956-01-19 00:00:00           NaN  20019.000000
1959-11-13 00:00:00           NaN  20020.000000
1960-06-03 00:00:00           NaN  20011.000000
1961-09-06 00:00:00           NaN  20012.000000
1961-09-29 00:00:00           NaN  20011.000000
1962-07-20 00:00:00           NaN  20019.000000
1963-10-14 00:00:00           NaN  20017.000000
1964-04-23 00:00:00           NaN  20001.000000
1964-05-22 00:00:00           NaN  20011.000000
1964-06-08 00:00:00           NaN  20018.000000
1964-08-10 00:00:00           NaN  20003.000000
1964-11-18 00:00:00           NaN  20020.000000
1964-12-02 00:00:00           NaN  20002.000000
1964-12-18 00:00:00           NaN  20003.000000
1964-12-22 00:00:00           NaN  20001.000000
1965-04-19 00:00:00           NaN  20017.000000
1965-04-27 00:00:00           NaN  20011.000000
1965-06-25 00:00:00           NaN  20017.000000
1965-06-30 00:00:00           NaN  20012.000000
1965-07-01 00:00:00           NaN  20011.000000
1965-11-16 00:00:00           NaN  20019.000000
1966-01-28 00:00:00           NaN  20010.000000
1966-02-11 00:00:00           NaN  20032.000000
1966-09-30 00:00:00           NaN  20011.000000
1967-02-06 00:00:00           NaN  20003.000000
...                           ...           ...
2018-05-31 00:00:00  8.131845e+05  20012.677966
2018-06-01 00:00:00  7.045746e+05  20012.260000
2018-06-04 00:00:00  7.656038e+05  20011.976190
2018-06-05 00:00:00  6.743396e+05  20011.313725
2018-06-06 00:00:00  6.633683e+05  20010.318182
2018-06-07 00:00:00  6.998997e+05  20011.843750
2018-06-08 00:00:00  5.921591e+05  20012.812500
2018-06-11 00:00:00  5.983280e+05  20013.812500
2018-06-12 00:00:00  6.855506e+05  20013.391304
2018-06-13 00:00:00  6.748831e+05  20012.134615
2018-06-14 00:00:00  7.535585e+05  20011.562500
2018-06-15 00:00:00  7.225939e+05  20011.714286
2018-06-18 00:00:00  8.250155e+05  20011.925926
2018-06-19 00:00:00  6.346744e+05  20012.097222
2018-06-20 00:00:00  7.202027e+05  20011.412698
2018-06-21 00:00:00  6.295301e+05  20011.500000
2018-06-22 00:00:00  8.406540e+05  20012.041667
2018-06-25 00:00:00  6.818207e+05  20012.818182
2018-06-26 00:00:00  6.883701e+05  20011.145161
2018-06-27 00:00:00  1.036491e+06  20017.537313
2018-06-28 00:00:00  6.150611e+05  20012.557143
2018-06-29 00:00:00  7.311565e+05  20011.581395
2018-07-02 00:00:00  6.662420e+05  20010.865385
2018-07-03 00:00:00  7.522320e+05  20012.022727
2018-07-05 00:00:00  6.208909e+05  20018.555556
2018-07-06 00:00:00  6.378944e+05  20013.703704
2018-07-09 00:00:00  5.515518e+05  20011.816327
2018-07-10 00:00:00  6.207935e+05  20012.351351
2018-07-11 00:00:00  6.648316e+05  20011.400000
2018-07-12 00:00:00  6.853225e+05  20012.342105

[6937 rows x 2 columns]

In [22]:
#pivot table default function is mean
pd.pivot_table(df, index=['PRICE'])

,AYB,BATHRM,BEDRM,BLDG_NUM,CENSUS_TRACT,CMPLX_NUM,EYB,FIREPLACES,GBA,HF_BATHRM,...,NUM_UNITS,ROOMS,SALE_NUM,STORIES,USECODE,Unnamed: 0,X,Y,YR_RMDL,ZIPCODE
PRICE,,,,,,,,,,,,,,,,,,,,,
1.0,1953.000000,1.800000,3.000000,1.0,5500.800000,2395.666667,1956.200000,0.200000,1785.000000,0.200000,...,2.000000,6.800000,1.400000,2.500000,17.200000,124404.600000,-77.025294,38.910545,1989.666667,20013.400000
10.0,1917.750000,1.500000,2.750000,1.0,5402.000000,NaN,1961.000000,0.000000,1380.500000,0.250000,...,1.250000,6.750000,1.500000,2.000000,14.000000,56559.750000,-77.008065,38.910462,2009.000000,20009.500000
250.0,1914.428571,2.142857,3.500000,1.0,5330.642857,NaN,1959.714286,0.285714,1786.142857,0.285714,...,1.428571,7.500000,1.000000,2.285714,14.857143,56396.714286,-77.002579,38.911539,2001.428571,20008.285714
500.0,1908.333333,2.500000,4.250000,1.0,3725.500000,NaN,1960.000000,0.000000,2524.250000,0.500000,...,2.000000,9.250000,1.000000,2.500000,20.750000,42453.000000,-77.015742,38.916577,2001.000000,20001.000000
936.0,1900.000000,2.000000,4.000000,1.0,4801.000000,NaN,1969.000000,3.000000,2142.000000,1.000000,...,1.000000,9.000000,2.000000,2.000000,11.000000,3330.000000,-77.020725,38.910531,1996.000000,20001.000000
1000.0,1935.800000,1.600000,2.200000,1.0,5383.200000,1073.000000,1953.600000,0.000000,1582.666667,0.200000,...,2.000000,6.600000,1.000000,2.000000,15.800000,108000.600000,-77.007165,38.916704,1998.000000,20016.000000
1377.0,1900.000000,1.000000,3.000000,1.0,4400.000000,NaN,1960.000000,5.000000,1424.000000,1.000000,...,1.000000,6.000000,1.000000,2.000000,11.000000,4199.000000,-77.030583,38.915053,2004.000000,20009.000000
2000.0,1914.000000,1.000000,1.500000,1.0,6505.000000,2128.000000,1938.000000,0.000000,1396.000000,0.000000,...,1.000000,4.500000,1.000000,2.000000,14.500000,108308.000000,-77.002767,38.891988,2006.000000,20014.500000
3000.0,1999.500000,2.000000,2.500000,1.0,4905.500000,3121.000000,2003.000000,0.000000,1170.000000,0.500000,...,1.000000,6.500000,2.000000,1.000000,14.500000,114715.000000,-76.983218,38.930773,NaN,20015.000000
3270.0,1950.000000,1.000000,1.000000,1.0,5301.000000,2152.000000,1950.000000,0.000000,NaN,0.000000,...,NaN,3.000000,1.000000,NaN,17.000000,119574.000000,-77.039695,38.909451,1980.000000,20036.000000
3523.0,1949.000000,1.000000,1.000000,1.0,9807.000000,1292.000000,1949.000000,0.000000,NaN,0.000000,...,NaN,3.000000,1.000000,NaN,16.000000,107614.000000,-77.010666,38.826833,1982.000000,20032.000000
3997.0,1948.000000,1.000000,3.000000,1.0,7709.000000,NaN,1948.000000,0.000000,1188.000000,0.000000,...,1.000000,6.000000,1.000000,2.000000,11.000000,95175.000000,-76.963734,38.879675,NaN,20019.000000
4101.0,1945.000000,4.000000,4.000000,1.0,7304.000000,NaN,1959.000000,0.000000,2464.000000,0.000000,...,4.000000,16.000000,1.000000,2.000000,23.000000,102551.000000,-76.984073,38.845271,2010.000000,20032.000000
4156.0,1937.000000,2.000000,4.000000,1.0,1600.000000,NaN,1954.000000,2.000000,1914.000000,1.000000,...,1.000000,8.000000,1.000000,2.250000,12.000000,44594.000000,-77.031723,38.985692,NaN,20012.000000
4500.0,1907.000000,3.000000,3.000000,1.0,4201.000000,NaN,1954.000000,0.000000,2443.000000,0.000000,...,3.000000,11.000000,1.000000,3.000000,24.000000,433.000000,-77.039567,38.917462,NaN,20009.000000
4850.0,1998.666667,1.666667,3.000000,1.0,7502.000000,NaN,2004.666667,0.000000,1200.000000,2.000000,...,1.000000,7.000000,1.000000,2.000000,12.666667,98160.666667,-76.967808,38.853058,NaN,20020.000000
5000.0,1927.750000,2.000000,2.750000,1.0,6702.250000,1277.000000,1955.250000,0.000000,1952.000000,0.250000,...,2.333333,8.000000,1.000000,2.000000,18.500000,69056.250000,-76.979956,38.892786,1991.000000,20006.250000
5115.0,2005.000000,4.000000,5.000000,1.0,7807.000000,NaN,2009.000000,0.000000,1992.000000,0.000000,...,1.000000,8.000000,1.000000,2.000000,12.000000,85697.000000,-76.920948,38.899125,NaN,20019.000000
5185.0,2014.000000,2.000000,4.000000,1.0,7804.000000,NaN,2015.000000,0.000000,1240.000000,1.000000,...,1.000000,7.000000,3.000000,2.000000,13.000000,87541.000000,-76.930926,38.896528,NaN,20019.000000
5247.0,1908.000000,2.000000,5.000000,1.0,2802.000000,NaN,1954.000000,0.000000,1850.000000,0.000000,...,2.000000,11.000000,1.000000,2.000000,24.000000,44968.000000,-77.034492,38.932187,NaN,20010.000000
5400.0,1918.000000,1.000000,1.000000,1.0,2701.000000,1233.000000,1918.000000,0.000000,NaN,0.000000,...,NaN,3.000000,2.000000,NaN,17.000000,139424.000000,-77.037396,38.934158,1979.000000,20010.000000
5453.0,1964.000000,1.000000,1.000000,1.0,7502.000000,1281.000000,1964.000000,0.000000,NaN,0.000000,...,NaN,3.000000,1.000000,NaN,16.000000,108730.000000,-76.967351,38.855545,1983.000000,20020.000000
5522.0,1940.000000,1.000000,2.000000,1.0,7709.000000,NaN,1967.000000,0.000000,864.000000,0.000000,...,1.000000,5.000000,1.000000,2.000000,13.000000,96261.000000,-76.963989,38.877642,2011.000000,20019.000000
5643.0,2008.000000,1.000000,1.000000,1.0,4701.000000,2898.000000,2008.000000,0.000000,NaN,1.000000,...,NaN,3.000000,4.000000,NaN,17.000000,157136.000000,-77.017778,38.903148,NaN,20001.000000
5964.0,1927.000000,3.000000,4.000000,1.0,8702.000000,NaN,1964.000000,0.000000,1424.000000,1.000000,...,1.000000,7.000000,7.000000,2.000000,11.000000,68268.000000,-77.001277,38.916120,2014.000000,20002.000000
6000.0,1931.500000,0.500000,0.500000,1.0,3801.500000,1747.000000,1922.500000,0.000000,NaN,0.000000,...,NaN,1.500000,1.000000,NaN,17.000000,136000.000000,-77.031088,38.921098,1985.000000,20005.500000
6826.0,1965.000000,1.000000,2.000000,1.0,7502.000000,1713.000000,2005.000000,0.000000,NaN,0.000000,...,NaN,4.000000,1.000000,NaN,16.000000,107561.000000,-76.964863,38.852991,2006.000000,20020.000000
6950.0,1875.000000,2.000000,3.000000,1.0,5002.000000,2253.000000,1875.000000,1.000000,NaN,1.000000,...,NaN,6.000000,1.000000,NaN,16.000000,133949.000000,-77.028776,38.907553,1979.000000,20005.000000
7000.0,2002.000000,1.000000,0.000000,1.0,7502.000000,1482.000000,2002.000000,0.000000,NaN,0.000000,...,NaN,2.000000,2.000000,NaN,16.000000,106866.000000,-76.964863,38.852991,NaN,20020.000000
7425.0,1953.000000,2.000000,4.000000,1.0,7806.000000,NaN,1953.000000,0.000000,1184.000000,0.000000,...,2.000000,8.000000,1.000000,2.000000,23.000000,86711.000000,-76.934728,38.903816,NaN,20019.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7950000.0,1929.000000,6.000000,7.000000,1.0,400.000000,NaN,2000.000000,4.000000,7560.000000,1.000000,...,1.000000,18.000000,1.000000,3.000000,12.000000,37129.000000,-77.056439,38.922097,2013.000000,20008.000000
8000000.0,2003.000000,6.000000,5.000000,1.0,100.000000,2571.000000,2003.000000,1.000000,NaN,1.000000,...,NaN,12.000000,3.000000,NaN,16.000000,112568.000000,-77.061657,38.903579,NaN,20007.000000
8100000.0,1928.000000,8.000000,9.000000,1.0,4100.000000,NaN,2000.000000,3.000000,6441.000000,1.000000,...,1.000000,13.000000,2.000000,2.750000,12.000000,37153.000000,-77.054567,38.917860,2017.000000,20008.000000
8243685.0,1989.000000,1.000000,1.000000,1.0,1002.000000,1658.000000,1989.000000,0.000000,NaN,0.000000,...,NaN,3.000000,1.000000,NaN,17.000000,129277.000000,-77.073948,38.936077,2005.000000,20016.000000
8375000.0,1930.000000,6.000000,7.000000,1.0,400.000000,NaN,2006.000000,6.000000,8148.000000,2.000000,...,1.000000,15.000000,1.000000,3.000000,12.000000,37088.000000,-77.061634,38.923825,2007.000000,20008.000000
8400000.0,1928.000000,3.000000,4.000000,1.0,501.000000,5431.000000,1928.000000,0.000000,NaN,1.000000,...,NaN,8.000000,2.000000,NaN,17.000000,153487.000000,-77.055683,38.924512,2017.000000,20008.000000
8450000.0,1914.500000,8.500000,7.000000,1.0,4151.000000,NaN,2000.000000,8.500000,8240.000000,3.000000,...,1.000000,18.500000,1.000000,3.375000,11.500000,21271.500000,-77.047203,38.914743,2008.000000,20008.500000
8500000.0,1911.000000,8.000000,9.000000,1.0,100.000000,NaN,1998.000000,6.000000,10001.000000,2.000000,...,1.000000,16.000000,1.000000,4.000000,12.000000,22450.000000,-77.057711,38.910936,2008.000000,20007.000000
8600000.0,1870.000000,7.000000,9.000000,1.0,100.000000,NaN,1998.000000,12.000000,8840.000000,2.000000,...,1.000000,16.000000,1.000000,3.250000,11.000000,22341.000000,-77.060080,38.908172,2014.000000,20007.000000
9000000.0,1926.000000,7.000000,6.000000,1.0,4100.000000,NaN,2000.000000,5.000000,6164.000000,1.000000,...,1.000000,15.000000,2.000000,3.000000,12.000000,37604.000000,-77.053972,38.916787,2015.000000,20008.000000
9100000.0,1925.000000,9.000000,6.000000,1.0,1301.000000,NaN,1995.000000,3.000000,6518.000000,2.000000,...,1.000000,17.000000,2.000000,2.500000,12.000000,36564.000000,-77.064527,38.952579,2014.000000,20008.000000
10400000.0,1930.000000,5.000000,7.000000,1.0,400.000000,NaN,2000.000000,6.000000,10379.000000,2.000000,...,1.000000,18.000000,5.000000,3.000000,12.000000,38709.000000,-77.062630,38.918822,2001.000000,20008.000000
10750000.0,1927.000000,7.000000,7.000000,1.0,400.000000,NaN,2000.000000,3.000000,6997.000000,3.000000,...,1.000000,13.000000,5.000000,2.750000,12.000000,38250.000000,-77.058717,38.921906,2011.000000,20008.000000
11000000.0,1928.666667,2.666667,2.666667,1.0,7268.666667,NaN,1957.000000,0.000000,2544.000000,0.000000,...,3.000000,10.666667,2.333333,2.000000,19.000000,61755.333333,-76.973606,38.880651,2002.000000,20020.666667
11111111.0,1941.000000,8.000000,8.000000,1.0,100.000000,NaN,2000.000000,2.000000,6937.000000,2.000000,...,1.000000,14.000000,1.000000,3.000000,12.000000,20936.000000,-77.064610,38.911993,2013.000000,20007.000000
11984000.0,1961.000000,6.000000,6.000000,1.0,10700.000000,NaN,2004.000000,10.000000,10760.000000,2.000000,...,1.000000,18.000000,1.000000,4.000000,11.000000,2149.000000,-77.039993,38.907467,2005.000000,20036.000000
12250000.0,2008.000000,12.000000,9.000000,1.0,400.000000,NaN,2016.000000,4.000000,12713.000000,3.000000,...,1.000000,19.000000,2.000000,2.000000,12.000000,36674.000000,-77.059064,38.919225,NaN,20008.000000
12780000.0,1944.000000,1.015873,1.015873,1.0,3700.000000,5005.000000,1944.000000,0.000000,NaN,0.000000,...,NaN,3.015873,3.000000,NaN,16.000000,141973.428571,-77.035146,38.926168,NaN,20009.000000
14000000.0,1962.000000,5.000000,6.000000,1.0,400.000000,NaN,2003.000000,3.000000,7725.000000,1.000000,...,1.000000,13.000000,4.000000,3.000000,12.000000,37131.000000,-77.056439,38.922097,1995.000000,20008.000000
14157126.0,1980.000000,2.000000,2.500000,1.0,202.000000,2754.000000,1980.000000,0.500000,NaN,0.500000,...,NaN,4.500000,1.000000,NaN,16.000000,130619.500000,-77.064333,38.906628,2006.000000,20007.000000
15000000.0,1986.000000,11.000000,7.000000,1.0,400.000000,NaN,2010.000000,5.000000,11616.000000,1.000000,...,1.000000,26.000000,1.000000,2.000000,12.000000,37118.000000,-77.058146,38.919885,2014.000000,20008.000000
16100000.0,1805.000000,9.000000,9.000000,1.0,100.000000,NaN,2000.000000,7.000000,7910.000000,4.000000,...,1.000000,19.000000,1.000000,3.000000,12.000000,21880.000000,-77.060462,38.911769,2013.000000,20007.000000
18000000.0,1994.000000,9.000000,7.000000,1.0,1301.000000,NaN,2012.000000,5.000000,15673.000000,5.000000,...,2.000000,25.000000,5.000000,2.500000,12.000000,34527.000000,-77.064798,38.954586,NaN,20008.000000
22000000.0,1801.000000,6.000000,9.000000,1.0,100.000000,NaN,1986.000000,4.000000,10110.000000,5.000000,...,1.000000,17.000000,1.000000,2.500000,12.000000,20685.000000,-77.056614,38.910861,2013.000000,20007.000000
23960287.0,1805.000000,7.000000,12.000000,1.0,100.000000,NaN,2000.000000,6.000000,14966.000000,3.000000,...,2.000000,31.000000,1.000000,2.750000,24.000000,20164.000000,-77.062651,38.909990,2004.000000,20007.000000
25000000.0,2004.000000,0.000000,0.000000,1.0,9811.000000,NaN,2004.000000,0.000000,2000.000000,0.000000,...,0.000000,0.000000,4.000000,0.000000,19.000000,104206.000000,-76.997729,38.827709,NaN,20032.000000
25100000.0,2002.000000,4.000000,0.000000,1.0,7502.000000,NaN,2007.000000,0.000000,4184.000000,0.000000,...,0.000000,5.000000,2.000000,1.000000,19.000000,97155.000000,-76.972211,38.861630,NaN,20020.000000
53696391.0,1963.000000,1.000000,1.000000,1.0,10100.000000,3100.000000,1963.000000,0.000000,NaN,0.000000,...,NaN,3.000000,2.000000,NaN,17.000000,132028.000000,-77.031060,38.904463,2006.000000,20005.000000
53969391.0,1963.000000,1.186441,0.966102,1.0,10100.000000,3100.000000,1963.000000,2492.542373,NaN,0.000000,...,NaN,3.050847,2.000000,NaN,17.000000,133990.898305,-77.031060,38.904463,2006.000000,20005.000000
137427545.0,1986.322314,1.111570,0.946281,1.0,1002.000000,1657.330579,1986.322314,0.256198,NaN,0.123967,...,NaN,3.041322,1.000000,NaN,16.330579,128361.380165,-77.074771,38.937063,2005.000000,20016.000000

In [23]:
#unique values in a column
df['AYB'].unique()

array([1910., 1898., 1900., 1913., 1917., 1906., 1908., 1890., 1905.,
       1894., 1885., 1880., 1800., 1976., 1805., 1870., 2002., 1907.,
       1979., 1865., 1940., 1909., 1948., 1951., 1895., 1887., 1916.,
       1925., 1897., 1883., 1922., 1939., 1904., 2003., 1911., 1888.,
       1892., 1850., 1878., 1875., 1902., 1876., 1918., 1978., 1886.,
       1889., 1820., 1920., 1989., 2009., 1921., 1864., 1930., 1879.,
       1891., 1862., 1957., 1950., 1960., 1980., 1926., 1956., 1873.,
       1936., 1996., 1915., 1935., 1927., 1919., 1983., 1881., 1872.,
       1912., 1896., 1928., 1882., 1914., 1923., 1955., 1860., 1874.,
       1833., 1985., 1942., 2001., 2000., 2004., 2005., 2016., 1968.,
       2013., 2012., 1961., 1958., 1945., 1988., 1934., 1815., 2010.,
       1931., 1997., 1810., 1963., 1953., 1967., 1965., 2006., 2014.,
       1966., 1994., 2008., 1990., 1893., 1981., 1970., 1964., 1853.,
       1941., 1901., 1977., 1899., 1848., 1973., 1856., 1938., 1855.,
       1959., 1954., 1929., 1871., 1987., 1924., 1780., 1867., 1975.,
       1947., 1877., 1816., 1884., 1830., 1840., 1903.,   nan, 2017.,
       1962., 1991., 2015., 1969., 1937., 1972., 1801., 1999., 1932.,
       1998., 2007., 1952., 1776., 2011., 1859., 1822., 1824., 1946.,
       1818., 1933., 1869., 1852., 1971., 1857., 1825., 1863., 1944.,
       1802., 1782., 1982., 1847., 1943., 1992., 1949., 1995., 1842.,
       1974., 1806., 1858., 1849., 1868., 1986., 2018., 1851., 1984.,
       1790., 1787., 1803., 1795., 1811., 1819., 1812., 1808., 1826.,
       1813., 1791., 1846., 1807., 1794., 1765., 1866., 1796., 1835.,
       1861., 1797., 1844., 1993., 1799., 1784., 1854., 1785., 1788.,
       1834., 1754., 1841., 2019., 1793.])

In [7]:
#find missing values
filename = "datasets/DC_Properties.csv"
df_missing = pd.read_csv(filename)

#df.head()

In [26]:
#total missing values
df_missing.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [27]:
#show rows with missing values
missing = df_missing['AYB'].isnull()
#missing will only show True/False values
df_missing.loc[missing]

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
3252,3252,2,1,Forced Air,Y,2.0,7,3,NaN,NaN,...,-77.023357,Old City 2,040 C Old City 2,4901.0,004901 2001,Ward 6,396,-77.023410,38.911456,NW
4034,4034,3,0,Hot Water Rad,N,2.0,16,5,NaN,NaN,...,-77.030598,Old City 2,040 E Old City 2,5001.0,NaN,Ward 2,240,-77.030601,38.911885,NW
4302,4302,2,0,Forced Air,Y,1.0,7,3,NaN,NaN,...,-77.019466,Old City 2,040 B Old City 2,4802.0,004802 2000,Ward 6,480,-77.019503,38.907983,NW
4922,4922,2,2,Forced Air,Y,2.0,10,6,NaN,NaN,...,-77.029098,Old City 2,040 F Old City 2,4400.0,004400 1004,Ward 1,271,-77.028681,38.919947,NW
5126,5126,4,0,Forced Air,Y,4.0,8,4,NaN,2006.0,...,-77.014938,Old City 2,040 A Old City 2,4600.0,004600 2001,Ward 5,550,-77.014584,38.912813,NW
5213,5213,4,1,Forced Air,Y,1.0,10,4,NaN,NaN,...,-77.019436,Old City 2,040 G Old City 2,4801.0,004801 1001,Ward 6,475,-77.019277,38.914287,NW
5786,5786,2,1,Warm Cool,Y,1.0,7,3,NaN,NaN,...,-77.001133,Old City 1,039 J Old City 1,8301.0,008301 1002,Ward 6,777,-77.001216,38.899468,NE
6145,6145,1,1,Forced Air,Y,1.0,5,2,NaN,2002.0,...,-77.000798,Capitol Hill,009 A Capitol Hill,7000.0,007000 1005,Ward 6,795,-77.001190,38.881818,SE
6355,6355,1,1,Forced Air,Y,1.0,6,3,NaN,2000.0,...,-77.012394,Old City 1,039 E Old City 1,6400.0,006400 2004,Ward 6,601,-77.012694,38.871424,SW
6891,6891,7,0,Forced Air,Y,3.0,13,7,NaN,NaN,...,-77.002241,Old City 1,039 K Old City 1,8301.0,008301 2003,Ward 6,754,-77.002807,38.896684,NE
7554,7554,2,1,Hot Water Rad,Y,1.0,8,3,NaN,2006.0,...,-76.998147,Old City 1,039 K Old City 1,8302.0,008302 1005,Ward 6,861,-76.997269,38.896641,NE
7771,7771,3,1,Hot Water Rad,Y,1.0,9,4,NaN,2006.0,...,-77.002325,Capitol Hill,009 A Capitol Hill,6500.0,006500 1006,Ward 6,763,-77.002945,38.885641,SE
9287,9287,1,0,Hot Water Rad,N,0.0,5,3,NaN,2004.0,...,-76.994427,Old City 1,039 K Old City 1,8100.0,008100 2003,Ward 6,916,-76.994408,38.894091,NE
9685,9685,1,0,Hot Water Rad,N,1.0,7,3,NaN,NaN,...,-76.992411,Old City 1,039 J Old City 1,8402.0,008402 2002,Ward 6,960,-76.992065,38.897913,NE
9914,9914,2,0,Hot Water Rad,Y,2.0,4,2,NaN,1986.0,...,-76.998222,Capitol Hill,009 B Capitol Hill,6600.0,006600 1010,Ward 6,870,-76.997412,38.888234,SE
10586,10586,1,0,Hot Water Rad,N,1.0,6,3,NaN,NaN,...,-76.995267,Old City 1,039 L Old City 1,10600.0,010600 3005,Ward 6,889,-76.995541,38.900815,NE
10987,10987,1,0,Hot Water Rad,N,1.0,6,3,NaN,NaN,...,-76.994487,Old City 1,039 K Old City 1,8100.0,008100 1006,Ward 6,915,-76.994491,38.895219,NE
10992,10992,2,1,Forced Air,Y,1.0,6,3,NaN,2006.0,...,-76.993938,Old City 1,039 K Old City 1,8100.0,008100 1006,Ward 6,915,-76.994491,38.895219,NE
11486,11486,1,0,Forced Air,Y,1.0,5,2,NaN,NaN,...,-76.988525,Old City 1,039 K Old City 1,8001.0,008001 2003,Ward 6,1007,-76.989164,38.896888,NE
12034,12034,2,1,Hot Water Rad,Y,1.0,6,3,NaN,2014.0,...,-76.995746,Capitol Hill,009 A Capitol Hill,7000.0,007000 2013,Ward 6,902,-76.995667,38.883259,SE
12103,12103,2,1,Hot Water Rad,N,1.0,6,3,NaN,1989.0,...,-76.988922,Old City 1,039 K Old City 1,8001.0,008001 2011,Ward 6,1008,-76.989235,38.895338,NE
12423,12423,5,1,Forced Air,Y,2.0,9,5,NaN,NaN,...,-76.993213,Old City 1,039 K Old City 1,8100.0,008100 2002,Ward 6,938,-76.992917,38.894095,NE
14493,14493,1,1,Forced Air,Y,1.0,6,3,NaN,NaN,...,-76.990504,Old City 1,039 M Old City 1,6900.0,006900 1005,Ward 6,991,-76.990894,38.884623,SE
15460,15460,3,2,Warm Cool,Y,1.0,8,4,NaN,1978.0,...,-76.990994,Old City 1,039 M Old City 1,6700.0,006700 2005,Ward 6,990,-76.991004,38.886547,SE
16104,16104,2,1,Hot Water Rad,N,1.0,6,4,NaN,NaN,...,-76.983948,Old City 1,039 A Old City 1,6700.0,006700 1002,Ward 6,1059,-76.984738,38.888052,SE
16931,16931,3,1,Warm Cool,Y,2.0,8,3,NaN,NaN,...,-76.982856,Old City 1,039 B Old City 1,6802.0,006802 2013,Ward 6,1077,-76.982871,38.879986,SE
16936,16936,1,1,Ht Pump,Y,1.0,8,2,NaN,2004.0,...,-76.982921,Old City 1,039 B Old City 1,6802.0,006802 2013,Ward 6,1077,-76.982871,38.879986,SE
16945,16945,3,1,Hot Water Rad,N,1.0,7,3,NaN,NaN,...,-76.982789,Old City 1,039 B Old City 1,6802.0,006802 2013,Ward 6,1077,-76.982871,38.879986,SE
17438,17438,1,0,Hot Water Rad,N,1.0,6,3,NaN,NaN,...,-76.984257,Old City 1,039 B Old City 1,6900.0,006900 2011,Ward 6,1065,-76.984439,38.879245,SE
17618,17618,1,0,Hot Water Rad,N,1.0,6,3,NaN,NaN,...,-76.983875,Old City 1,039 A Old City 1,6900.0,006900 1014,Ward 6,1060,-76.984501,38.886040,SE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123915,123915,1,0,Forced Air,Y,NaN,3,1,NaN,NaN,...,-76.991714,Brookland,007 C Brookland,9504.0,NaN,Ward 5,3883,-76.991717,38.935025,NE
124369,124369,1,0,Ht Pump,Y,NaN,4,2,NaN,NaN,...,-76.916601,Deanwood,018 C Deanwood,7807.0,NaN,Ward 7,5256,-76.916604,38.897521,NE
124370,124370,1,0,Ht Pump,Y,NaN,3,1,NaN,NaN,...,-76.916601,Deanwood,018 C Deanwood,7807.0,NaN,Ward 7,5256,-76.916604,38.897521,NE
124371,124371,1,0,Ht Pump,Y,NaN,3,1,NaN,NaN,...,-76.916601,Deanwood,018 C Deanwood,7807.0,NaN,Ward 7,5256,-76.916604,38.897521,NE
124372,124372,1,0,Ht Pump,Y,NaN,4,2,NaN,NaN,...,-76.916601,Deanwood,018 C Deanwood,7807.0,NaN,Ward 7,5256,-76.916604,38.897521,NE
124373,124373,1,0,Ht Pump,Y,NaN,3,1,NaN,NaN,...,-76.916601,Deanwood,018 C Deanwood,7807.0,NaN,Ward 7,5256,-76.916604,38.897521,NE
124374,124374,1,0,Ht Pump,Y,NaN,3,1,NaN,NaN,...,-76.916601,Deanwood,018 C Deanwood,7807.0,NaN,Ward 7,5256,-76.916604,38.897521,NE
124375,124375,1,0,Ht Pump,Y,NaN,4,2,NaN,NaN,...,-76.916601,Deanwood,018 C Deanwood,7807.0,NaN,Ward 7,5256,-76.916604,38.897521,NE
124376,124376,1,0,Ht Pump,Y,NaN,3,1,NaN,NaN,...,-76.916601,Deanwood,018 C Deanwood,7807.0,NaN,Ward 7,5256,-76.916604,38.897521,NE
124508,124508,1,0,Forced Air,Y,NaN,5,2,NaN,NaN,...,-76.991484,Barry Farms,NaN,7407.0,NaN,Ward 8,5869,-76.991486,38.859840,SE
130763,130763,2,0,Forced Air,Y,NaN,4,2,NaN,NaN,...,-77.069016,Wakefield,NaN,1200.0,NaN,Ward 3,1977,-77.069018,38.950168,NW
139280,139280,1,0,Forced Air,Y,NaN,4,2,NaN,NaN,...,-77.034068,Columbia Heights,015 A Columbia Heights,3700.0,NaN,Ward 1,2662,-77.034071,38.921770,NW
140249,140249,2,0,Forced Air,Y,NaN,4,2,NaN,NaN,...,-77.035841,Columbia Heights,015 A Columbia Heights,2802.0,NaN,Ward 1,2577,-77.035843,38.926506,NW
141866,141866,1,0,Forced Air,N,NaN,4,1,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141867,141867,1,0,Forced Air,N,NaN,4,1,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141868,141868,1,0,Forced Air,N,NaN,4,1,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141869,141869,1,0,Forced Air,N,NaN,5,2,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141870,141870,1,0,Forced Air,N,NaN,4,1,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141871,141871,1,0,Forced Air,N,NaN,4,1,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141872,141872,1,0,Forced Air,N,NaN,5,2,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141873,141873,1,0,Forced Air,N,NaN,4,1,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141874,141874,1,0,Forced Air,N,NaN,4,1,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
141875,141875,1,0,Forced Air,N,NaN,5,2,NaN,NaN,...,-77.033702,16th Street Heights,049 A 16th Street Heights,2501.0,NaN,Ward 4,2699,-77.033704,38.943504,NW
143838,143838,1,1,Warm Cool,Y,NaN,6,3,NaN,2001.0,...,-77.002756,Eckington,019 B Eckington,8702.0,NaN,Ward 5,3565,-77.002758,38.916367,NE
145473,145473,1,0,Warm Cool,Y,NaN,2,0,NaN,NaN,...,-77.016301,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,546,-77.016303,38.874797,SW
151362,151362,2,1,Ht Pump,Y,NaN,6,3,NaN,1998.0,...,-77.052370,Garfield,NaN,501.0,NaN,Ward 3,2208,-77.052373,38.926483,NW
153563,153563,1,1,Ht Pump,Y,NaN,4,1,NaN,NaN,...,-77.046350,Kalorama,029 C Kalorama,4001.0,NaN,Ward 1,2545,-77.046352,38.921052,NW
153564,153564,2,1,Wall Furnace,Y,NaN,5,2,NaN,NaN,...,-77.046350,Kalorama,029 C Kalorama,4001.0,NaN,Ward 1,2545,-77.046352,38.921052,NW
153565,153565,2,0,Ht Pump,Y,NaN,4,2,NaN,NaN,...,-77.046350,Kalorama,029 C Kalorama,4001.0,NaN,Ward 1,2545,-77.046352,38.921052,NW
153566,153566,1,1,Ht Pump,Y,NaN,4,1,NaN,NaN,...,-77.046350,Kalorama,029 C Kalorama,4001.0,NaN,Ward 1,2545,-77.046352,38.921052,NW

In [8]:
#drop rows with any missing data
df_no_missing = df.dropna()
df_no_missing

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [13]:
dupe = df.duplicated() #creates list of True/False values
df[dupe] #shows rows where duplicated is True

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [11]:
#drops duplicate rows, default is to keep first observation
df.drop_duplicates()df.duplicated(['ZIPCODE'])

0         False
1          True
2          True
3          True
4          True
5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
          ...
158927     True
158928     True
158929     True
158930     True
158931     True
158932     True
158933     True
158934     True
158935     True
158936     True
158937     True
158938     True
158939     True
158940     True
158941     True
158942     True
158943     True
158944     True
158945     True
158946     True
158947     True
158948     True
158949     True
158950     True
158951     True
158952     True
158953     True
158954     True
158955     True
158956     True
Length: 158957, dtype: bool

In [17]:
df['PRICE'].mean()

931351.5949336156

In [18]:
df['PRICE']>50000

0          True
1         False
2          True
3          True
4         False
5          True
6         False
7          True
8          True
9         False
10        False
11        False
12        False
13        False
14         True
15        False
16         True
17        False
18        False
19         True
20        False
21        False
22         True
23         True
24         True
25        False
26        False
27         True
28        False
29         True
          ...
158927    False
158928     True
158929     True
158930     True
158931     True
158932     True
158933     True
158934     True
158935     True
158936     True
158937    False
158938     True
158939     True
158940    False
158941    False
158942    False
158943     True
158944     True
158945     True
158946     True
158947     True
158948     True
158949     True
158950     True
158951     True
158952     True
158953     True
158954     True
158955     True
158956    False
Name: PRICE, Length: 158957, dtype: bool

In [20]:
df['PRICE']>50000 & (df['EYB']==2015)

0          True
1         False
2          True
3          True
4         False
5          True
6         False
7          True
8          True
9         False
10        False
11        False
12        False
13        False
14         True
15        False
16         True
17        False
18        False
19         True
20         True
21        False
22         True
23         True
24         True
25         True
26        False
27         True
28        False
29         True
          ...
158927    False
158928     True
158929     True
158930     True
158931     True
158932     True
158933     True
158934     True
158935     True
158936     True
158937    False
158938     True
158939     True
158940    False
158941    False
158942    False
158943     True
158944     True
158945     True
158946     True
158947     True
158948     True
158949     True
158950     True
158951     True
158952     True
158953     True
158954     True
158955     True
158956    False
Length: 158957, dtype: bool

In [21]:
df['BATHRM']==4

0          True
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
158927    False
158928    False
158929    False
158930    False
158931    False
158932    False
158933    False
158934    False
158935    False
158936    False
158937    False
158938    False
158939    False
158940    False
158941    False
158942    False
158943    False
158944    False
158945    False
158946    False
158947    False
158948    False
158949    False
158950    False
158951    False
158952    False
158953    False
158954    False
158955    False
158956    False
Name: BATHRM, Length: 158957, dtype: bool

In [37]:
df.STYLE

0         3 Story
1         3 Story
2         3 Story
3         3 Story
4         3 Story
5         4 Story
6         2 Story
7         3 Story
8         2 Story
9         2 Story
10        3 Story
11        3 Story
12        3 Story
13        3 Story
14        2 Story
15        2 Story
16        2 Story
17        2 Story
18        2 Story
19        2 Story
20        3 Story
21        3 Story
22        2 Story
23        2 Story
24        2 Story
25        2 Story
26        3 Story
27        3 Story
28        4 Story
29        3 Story
           ...
158927        NaN
158928        NaN
158929        NaN
158930        NaN
158931        NaN
158932        NaN
158933        NaN
158934        NaN
158935        NaN
158936        NaN
158937        NaN
158938        NaN
158939        NaN
158940        NaN
158941        NaN
158942        NaN
158943        NaN
158944        NaN
158945        NaN
158946        NaN
158947        NaN
158948        NaN
158949        NaN
158950        NaN
158951        NaN
158952        NaN
158953        NaN
158954        NaN
158955        NaN
158956        NaN
Name: STYLE, Length: 158957, dtype: object

In [38]:
df.STRUCT

0            Row Inside
1            Row Inside
2            Row Inside
3            Row Inside
4         Semi-Detached
5            Row Inside
6            Row Inside
7            Row Inside
8            Row Inside
9            Row Inside
10           Row Inside
11           Row Inside
12           Row Inside
13           Row Inside
14           Row Inside
15           Row Inside
16           Row Inside
17           Row Inside
18           Row Inside
19           Row Inside
20        Semi-Detached
21        Semi-Detached
22        Semi-Detached
23        Semi-Detached
24               Single
25           Row Inside
26           Row Inside
27           Row Inside
28           Row Inside
29           Row Inside
              ...
158927              NaN
158928              NaN
158929              NaN
158930              NaN
158931              NaN
158932              NaN
158933              NaN
158934              NaN
158935              NaN
158936              NaN
158937              NaN
158938              NaN
158939              NaN
158940              NaN
158941              NaN
158942              NaN
158943              NaN
158944              NaN
158945              NaN
158946              NaN
158947              NaN
158948              NaN
158949              NaN
158950              NaN
158951              NaN
158952              NaN
158953              NaN
158954              NaN
158955              NaN
158956              NaN
Name: STRUCT, Length: 158957, dtype: object

In [39]:
df.NUM_UNITS

0         2.0
1         2.0
2         2.0
3         2.0
4         1.0
5         1.0
6         2.0
7         2.0
8         2.0
9         1.0
10        3.0
11        3.0
12        2.0
13        2.0
14        2.0
15        2.0
16        1.0
17        1.0
18        2.0
19        2.0
20        1.0
21        2.0
22        1.0
23        1.0
24        1.0
25        1.0
26        1.0
27        4.0
28        2.0
29        2.0
         ...
158927    NaN
158928    NaN
158929    NaN
158930    NaN
158931    NaN
158932    NaN
158933    NaN
158934    NaN
158935    NaN
158936    NaN
158937    NaN
158938    NaN
158939    NaN
158940    NaN
158941    NaN
158942    NaN
158943    NaN
158944    NaN
158945    NaN
158946    NaN
158947    NaN
158948    NaN
158949    NaN
158950    NaN
158951    NaN
158952    NaN
158953    NaN
158954    NaN
158955    NaN
158956    NaN
Name: NUM_UNITS, Length: 158957, dtype: float64

In [40]:
df.USECODE

0         24
1         24
2         24
3         24
4         13
5         11
6         24
7         24
8         24
9         11
10        24
11        24
12        24
13        24
14        24
15        24
16        11
17        11
18        24
19        24
20        13
21        24
22        13
23        13
24        12
25        11
26        11
27        24
28        24
29        11
          ..
158927    16
158928    16
158929    16
158930    16
158931    16
158932    16
158933    16
158934    16
158935    16
158936    16
158937    16
158938    16
158939    16
158940    16
158941    16
158942    16
158943    16
158944    16
158945    16
158946    16
158947    16
158948    16
158949    16
158950    16
158951    16
158952    16
158953    16
158954    16
158955    17
158956    17
Name: USECODE, Length: 158957, dtype: int64

In [41]:
df.CNDTN

0              Good
1              Good
2         Very Good
3              Good
4              Good
5              Good
6           Average
7           Average
8         Very Good
9           Average
10             Fair
11          Average
12          Average
13          Average
14        Very Good
15          Average
16        Very Good
17          Average
18             Good
19             Good
20        Very Good
21             Good
22             Good
23        Very Good
24             Good
25             Good
26          Average
27          Average
28          Average
29        Very Good
            ...
158927          NaN
158928          NaN
158929          NaN
158930          NaN
158931          NaN
158932          NaN
158933          NaN
158934          NaN
158935          NaN
158936          NaN
158937          NaN
158938          NaN
158939          NaN
158940          NaN
158941          NaN
158942          NaN
158943          NaN
158944          NaN
158945          NaN
158946          NaN
158947          NaN
158948          NaN
158949          NaN
158950          NaN
158951          NaN
158952          NaN
158953          NaN
158954          NaN
158955          NaN
158956          NaN
Name: CNDTN, Length: 158957, dtype: object

In [44]:
df.SOURCE

0         Residential
1         Residential
2         Residential
3         Residential
4         Residential
5         Residential
6         Residential
7         Residential
8         Residential
9         Residential
10        Residential
11        Residential
12        Residential
13        Residential
14        Residential
15        Residential
16        Residential
17        Residential
18        Residential
19        Residential
20        Residential
21        Residential
22        Residential
23        Residential
24        Residential
25        Residential
26        Residential
27        Residential
28        Residential
29        Residential
             ...
158927    Condominium
158928    Condominium
158929    Condominium
158930    Condominium
158931    Condominium
158932    Condominium
158933    Condominium
158934    Condominium
158935    Condominium
158936    Condominium
158937    Condominium
158938    Condominium
158939    Condominium
158940    Condominium
158941    Condominium
158942    Condominium
158943    Condominium
158944    Condominium
158945    Condominium
158946    Condominium
158947    Condominium
158948    Condominium
158949    Condominium
158950    Condominium
158951    Condominium
158952    Condominium
158953    Condominium
158954    Condominium
158955    Condominium
158956    Condominium
Name: SOURCE, Length: 158957, dtype: object

In [49]:
(df['ZIPCODE']==20009) & (df['SOURCE']=="condominium")

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
158927    False
158928    False
158929    False
158930    False
158931    False
158932    False
158933    False
158934    False
158935    False
158936    False
158937    False
158938    False
158939    False
158940    False
158941    False
158942    False
158943    False
158944    False
158945    False
158946    False
158947    False
158948    False
158949    False
158950    False
158951    False
158952    False
158953    False
158954    False
158955    False
158956    False
Length: 158957, dtype: bool